@media (max-width: 1000px) {
	[dashboard-mobile] {
		display: var(--display, initial) !important;
	}

	[dashboard-pc] {
		display: none !important;
	}
	
	nav {
		position: static;
		padding: 10px 10px 20px 10px;
		
		max-height: max-content;
		min-height: max-content;
		min-width: 100vw;
		max-width: 100vw;
		
		border-right: none;
		border-top: solid 1px #FFFFFF20;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		
		backdrop-filter: var(--backdrop-filter-5);
		
		z-index: 7;
	}
	
	body.hide nav {
		max-height: max-content;
		min-height: max-content;
		min-width: 100vw;
		max-width: 100vw;
		
		top: 0px;
	}
	
	.navbar-box {
		display: block;
		overflow-y: scroll;
		scroll-behavior: smooth;
		
		position: fixed;
		z-index: 6;
		bottom: 0px;
		
		width: 100%;
		height: 100%;
		max-height: 80px;
		
		padding-top: calc(100vh - 80px);
		
		background: #00000055;
		
		transition: background var(--transition-0-2);
		
		pointer-events: initial;
	}
	
	body.hide .navbar-box {
		background: transparent;
		pointer-events: none;
	}
	
	body.hide nav button {
		gap: 10px;
	}
	
	body.hide nav button text,
	body.hide nav button .navbar-hide {
		opacity: 1;
		visibility: initial;
		
		width: 100%;
	}
	
	nav button {
		font-size: 20px;
		padding: 10px 13px;
	}
	
	nav .dropdown-items button {
		font-size: 17px;
		padding: 5px 12px;
		
		gap: 5px;
	}
	
	.dropdown-items {
		margin-left: 5px;
		width: calc(100% - 10px);
	}
	
	.dashboard-page,
	body.hide .dashboard-page,
	footer,
	body.hide footer {
		margin-left: 0px;
	}
	
	.navbar-buttons.up .dropdown.show .dropdown-items {
		padding-bottom: initial;
		padding-top: 5px;
	}
	
	.navbar-buttons.up .dropdown {
		flex-direction: column;
	}
	
	.navbar-buttons.up .dropdown.show i[dashboard-dropdown-caret] {
		transform: rotate(90deg);
	}
	
	.navbar-buttons.up,
	.navbar-buttons.down {
		transition: var(--transition-0-2);
	}
	
	body.hide .navbar-buttons.up,
	body.hide .navbar-buttons.down {
		opacity: 0;
	}
	
	nav button img {
		min-width: 25px;
		max-width: 25px;
		
		margin-left: 0px;
	}
	
	nav button:has(img) {
		gap: 10px;
	}
	
	footer {
		padding: 15px 15px 95px 15px;
	}
	
	footer h2 {
		font-size: 22px;
	}
	
	footer h4 {
		font-size: 17px;
	}
	
	footer h4 img {
		max-width: 21px;
		max-height: 21px;
	}
	
	.head {
		position: fixed;
		top: 0px;
		left: 0px;
		
		width: 100%;
		
		flex-direction: row;
		align-items: baseline;
		
		background-color: var(--content-color-black);
		padding: 15px;
		
		border-bottom: solid 1px #FFFFFF20;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		
		gap: 10px;
		z-index: 2;
		
		backdrop-filter: var(--backdrop-filter-5);
		
		white-space: nowrap;
	}
	
	.head .title {
		font-size: 20px;
		
		max-width: max-content;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
	.head .description {
		font-size: 15px;
		
		max-width: max-content;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
	body.hide .dashboard-page.skeleton {
		width: 100%;
	}
	
	body:not(.hide),
	body:not(.hide).dashboard-page	{
		overflow-y: hidden;
	}
	
	.dashboard-page:has(.wideBox) {
		padding: 65px 10px 10px 10px;
	}
	
	.dashboard-page.skeleton:has(.wideBox) {
		padding: 67px 10px 10px 10px;
	}
	
	.dashboard-page.skeleton .box {
		min-width: 85%;
		min-height: 60%;
	}
	
	.dashboard-page.skeleton {
		width: 100%;
	}
	
	.dashboard-page.skeleton .head span {
		height: 5px;
		min-width: 0px;
		max-width: 100%;
	}
	
	.dashboard-page.skeleton .head span.description {
		height: 5px;
		width: 40%;
	}
	
	::-webkit-scrollbar {
		width: 0px;
	}
	
	body.hide .dropdown.show .dropdown-items {
		max-height: 0px;
	}
	
	[dashboard-page-buttons] {
		flex-direction: column;
		align-items: flex-end;
		
		bottom: 90px;
		right: 10px;
		
		gap: 5px;
		padding: 0px;
		
		background: transparent;
		border: none;
		backdrop-filter: none;
		
		z-index: 2;
	}
	
	.settingDescription h2 {
		font-size: 20px;
	}

	.settingDescription h3 {
		font-size: 18px;
	}
	
	.settingDescription h2:has(img) {
		gap: 10px;
	}

	.settingDescription h2 img {
		height: 25px;
	}
	
	.radio {
		padding: 15px;
	}
	
	.radio:checked::after {
		padding: 8px;
	}
	
	.toggle {
		padding: 5px 15px;
	}
	
	.toggle::after {
		padding: 10px;
	}
	
	.languagesDiv {
		gap: 5px;
	}
	
	.languageDiv.extra {
		margin-left: 7px;
		width: calc(100% - 7px);
	}
	
	.languageDiv:has(.toggleExtra) {
		width: calc(100% - 65px);
	}
	
	.toggleExtraOption {
		width: 30px;
		height: 30px;
		
		font-size: 17px;
	}
	
	.toggleExtra:not(.focused) .toggleExtraOption:not(.checked) {
		width: 0px;
		padding: 0px;
		
		opacity: 0;
	}
	
	.toggleExtra::after {
		width: 29px;
		transform: none;
	}
	
	.toggleExtra.focused::after {
		transform: translateX(calc((100% + 4px) * var(--toggle-value)));
	}
	
	.toggleExtra {
		position: absolute;
		right: 26px;
	}
	
	.toggleButton {
		padding: 8px !important;
		font-size: 20px;
	}
	
	.toggleExtra.focused {
		z-index: 7;
		
		gap: 5px;
	}
	
	.inputDiv {
		gap: 5px;
	}
	
	.inputDiv h2 {
		font-size: 20px;
	}
	
	.inputStyle,
	.select input {
		padding: 7px;
		font-size: 15px;
	}
	
	.select [dashboard-caret] {
		width: 10px;
		height: 15px;
		font-size: 15px;
	}
	
	.contentDiv {
		padding: 10px;
	}
	
	.box {
		padding: 15px;
		border-radius: 15px;
		
		gap: 10px;
		
		min-width: 100%;
	}
	
	.button {
		padding: 5px 10px;
		font-size: 17px;
	}
	
	.box h1 {
		font-size: 25px;
	}
	
	.box p {
		font-size: 20px;
	}
	
	.levelPage .levelStats:not(.card) {
		gap: 5px;
		min-width: 100%;
	}
	
	.levelPage .levelStats:not(.card) .levelStat {
		font-size: 17px;
		padding: 7px;
	}
	
	.eyeButton i {
		font-size: 20px;
	}
	
	[title]::after,
	.inputDiv:has(.regex-fail[dashboard-regex-check])::after {
		font-size: 17px;
		padding: 5px 10px;
		
		max-width: 90vw;
		white-space: break-spaces;
		overflow-wrap: break-word;
		
		border-radius: 10px;
	}
	
	.levelTitle h2 {
		font-size: 18px;
	}
	
	.levelTitle h2 text.big {
		font-size: 20px;
	}
	
	.levelDescription {
		font-size: 16px;
	}
	
	.levelTitle h2 img,
	.contextMenuButton img {
		max-width: 22px;
		max-height: 22px;
	}
	
	.username span {
		gap: 5px;
	}
	
	.contentDiv .vertical {
		gap: 5px;
	}
	
	.commentsDiv .contentDiv .vertical {
		gap: 10px;
	}
	
	.contentDiv .difficultyImage {
		width: 80px;
		height: 80px;
		
		margin: -15px;
	}
	
	.contentDiv .difficultyImage.gauntlet {
		width: 50px;
		height: 50px;
		
		margin: 0px;
	}
	
	.levelStats {
		flex-wrap: wrap;
		justify-content: flex-start !important;
		
		gap: 5px;
	}
	
	.stats > :not(i):last-child {
		justify-content: flex-start !important;
	}
	
	.levelStat {
		font-size: 16px;
		
		gap: 3px;
	}
	
	.levelStat i {
		width: 20px;
		height: 20px;
	}
	
	.profileTitle:has(img), .levelTitle:has(img) {
		gap: 10px;
	}
	
	.levelTitle {
		align-items: flex-start;
	}
	
	.levelStats .button {
		width: max-content;
		
		padding: 5px 7px;
		font-size: 15px;
	}
	
	.viewMoreDiv {
		display: flex;
		flex-direction: column;
	}
	
	.viewMoreDiv.show {
		gap: 10px;
	}
	
	.contentDiv .stats {
		justify-content: space-between;
		flex-wrap: wrap;
		
		gap: 5px;
	}
	
	.songCard {
		display: block;
		
		font-size: 16px;
	}
	
	.songCard:has(button) {
		padding: 5px;
		font-size: 14px;
	}
	
	.songCard:has(.username) {
		padding: 5px 7px;
	}
	
	.songCard button:not(.contextMenuButton) {
		font-size: 14px;	
	}
	
	[dashboard-running-text] {
		white-space: break-spaces;
		max-width: max-content;
	}

	.viewMoreDiv [dashboard-view-more-icon] {
		transition: var(--transition-0-2);
	}

	.viewMoreDiv.show [dashboard-view-more-icon] {
		rotate: 90deg;
	}

	.viewMoreDiv [dashboard-view-more-text-closed] {
		transition: var(--transition-0-2);
		height: max-content;
		
		opacity: 1;
	}

	.viewMoreDiv [dashboard-view-more-text-opened] {
		transition: var(--transition-0-2);
		height: 0px;
		
		opacity: 0;
	}

	.viewMoreDiv.show [dashboard-view-more-text-closed] {
		height: 0px;
		
		opacity: 0;
	}

	.viewMoreDiv.show [dashboard-view-more-text-opened] {
		height: max-content;
		
		opacity: 1;
	}

	.viewMoreDiv > *:not(:first-child) {
		transition: var(--transition-0-2);
		height: 0px;
		
		opacity: 0;
		pointer-events: none;
	}

	.viewMoreDiv.show > *:not(:first-child) {
		height: max-content;
		
		opacity: 1;
		pointer-events: initial;
	}

	.viewMoreText {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.viewMoreDiv .button {
		justify-content: flex-start;
	}

	.viewMoreDiv > .button i {
		width: 10px;
	}
	
	.toastify {
		font-size: 15px;
		padding: 7px 10px !important;
	}
	
	.modalPage .box {
		min-width: 95%;
		padding: 20px 40px;
	}
	
	.profileTitle h1 {
		font-size: 20px;
	}
	
	.songCard .username {
		font-size: 17px;
	}

	.userButton img, .levelDescription img {
		max-width: 21px;
		max-height: 21px;
		min-width: 15px;
	}
	
	.option {
		font-size: 15px;
		
		gap: 3px;
	}
	
	.select {
		padding: 8.7px;
	}
	
	.inputStyle h4 {
		font-size: 15px;
	}
	
	.commentStat {
		font-size: 17px;
	}
	
	.small .commentStat {
		font-size: 15px;
		gap: 3px;
	}
	
	.commentStat text {
		gap: 3px;
	}
	
	.stats.small > div {
		width: max-content;
		flex-wrap: wrap;
	}
	
	.button.small {
		padding: 5px 7px;
		font-size: 14px;
	}
	
	.replyLineBig {
		height: calc(100% - 58px);
		transform: translate(10.5px, -5px);
	}
	
	.emojisDiv {
		left: 8px;
	}
	
	.emojisDiv h3 {
		font-size: 20px;
	}
	
	.emojisDiv h3 img {
		max-width: 25px;
		max-height: 25px;
	}
	
	h1[dashboard-score] {
		font-size: 17px;
	}
}