<div class="contentDiv" dashboard-context-div>
	<div class="horisontal bigGap">
		<div class="vertical">
			<div class="horisontal spaceBetween flexStart">
				<div class="profileTitle vertical flexStart" href="clan/%CLAN_NAME%" dashboard-loader-type="settings">
					<h1 style="%CLAN_COLOR%">
						%CLAN_NAME%
						<text dashboard-show="%CLAN_HAS_TAG%">[%CLAN_TAG%]</text>
					</h1>
					
					<h2 class="extraIcon" dashboard-show="%CLAN_IS_CLOSED%" title="%TEXT_clanClosed%">
						<i class="fa-solid fa-lock"></i>
					</h2>
				</div>
				
				<h1 title="%TEXT_rank%" dashboard-score="%clanRank%" dashboard-show="%CLAN_HAS_RANK%">
					<i dashboard-show="%CLAN_IS_TOP_100%" class="fa-solid fa-trophy"></i>
					<i dashboard-hide="%CLAN_IS_TOP_100%" class="fa-solid fa-hashtag"></i>
					%clanRank%
				</h1>
			</div>
		
			<h3 class="levelDescription">
				<span class="emptySymbol">:(</span>
				%CLAN_DESCRIPTION%
			</h3>
	
			<div class="viewMoreDiv" dashboard-view-more>
				<button class="button" type="button" dashboard-mobile dashboard-view-more-button>
					<i class="fa-solid fa-caret-right" dashboard-view-more-icon></i>
				
					<div class="viewMoreText">
						<text dashboard-view-more-text-closed>%TEXT_viewMore%</text>
						<text dashboard-view-more-text-opened>%TEXT_hide%</text>
					</div>
				</button>
				
				<div class="horisontal stats">
					<div class="songCard">
						<div class="contents userButton">%CLAN_OWNER_CARD%</div>
					</div>
					
					<div class="levelStats card">
						<text class="levelStat" title="%TEXT_clanID%">
							<i class="fa-solid fa-shield-halved"></i>
							<text dashboard-copy>%clanID%</text>
						</text>
						
						<text class="levelStat" title="%TEXT_clanMembersCount%">
							<i class="fa-solid fa-users"></i>
							%clanMembersCount%
						</text>
					
						<text class="levelStat" title="%TEXT_creationDate%">
							<i class="fa-solid fa-calendar"></i>
							<text dashboard-date="%creationDate%"></text>
						</text>
					
						<button class="button short titleToRight" type="button" title="%TEXT_viewClan%" href="clan/%CLAN_NAME%" dashboard-loader-type="settings">
							<i class="fa-solid fa-eye"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	%CLAN_CONTEXT_MENU%
</div>