<div class="contentDiv" dashboard-context-div>
	<div class="horisontal">
		<div class="vertical spaceBetween">
			<div class="levelTitle" href="browse/gauntlets/%ID%" dashboard-loader-type="settings">
				<h2>
					<text class="big">%GAUNTLET_TITLE%</text>
				</h2>
			</div>
	
			<div class="horisontal stats">
				<div class="levelStats">
					<button class="button titleToLeft" type="button" title="%TEXT_viewGauntlet%" href="browse/gauntlets/%ID%" dashboard-loader-type="settings">
						<i class="fa-solid fa-eye"></i>
					</button>
					
					<text class="levelStat" title="%TEXT_gauntletID%">
						<i class="fa-solid fa-globe"></i>
						<text dashboard-copy>%ID%</text>
					</text>
				
					<text class="levelStat" title="%TEXT_uploadDate%">
						<i class="fa-solid fa-calendar"></i>
						<text dashboard-date="%timestamp%"></text>
					</text>
				</div>
			</div>
		</div>
		
		<img loading="lazy" class="difficultyImage gauntlet" src="%GAUNTLET_DIFFICULTY_IMAGE%"></img>
	</div>
	
	%GAUNTLET_CONTEXT_MENU%
</div>