<div class="contentDiv" dashboard-context-div>
	<div class="horisontal">
		<div class="vertical">
			<div class="levelTitle" href="browse/levels/%levelID%" dashboard-loader-type="settings">
				<h2>%LEVEL_TITLE%</h2>
			</div>
			
			<h3 class="levelDescription">
				<span class="emptySymbol">:(</span>
				%LEVEL_DESCRIPTION%
			</h3>
		</div>
		
		<img loading="lazy" class="difficultyImage" src="%LEVEL_DIFFICULTY_IMAGE%"></img>
	</div>
	
	<div class="viewMoreDiv" dashboard-view-more>
		<button class="button" type="button" dashboard-mobile dashboard-view-more-button>
			<i class="fa-solid fa-caret-right" dashboard-view-more-icon></i>
		
			<div class="viewMoreText">
				<text dashboard-view-more-text-closed>%TEXT_viewMore%</text>
				<text dashboard-view-more-text-opened>%TEXT_hide%</text>
			</div>
		</button>
		
		<div class="horisontal stats">
			<div class="songCard" dashboard-button>
				<button class="contents" dashboard-show="%LEVEL_IS_CUSTOM_SONG%"
					dashboard-title="%LEVEL_SONG_TITLE%"
					dashboard-author="%LEVEL_SONG_AUTHOR%"
					dashboard-url="%LEVEL_SONG_URL%"
					dashboard-song="%LEVEL_SONG_ID%"
				>
					<i class="fa-solid fa-circle-play"></i>
				</button>
				<i dashboard-hide="%LEVEL_IS_CUSTOM_SONG%" class="fa-solid fa-music"></i>
				
				<text dashboard-hide="%LEVEL_IS_CUSTOM_SONG%">%LEVEL_SONG%</text>
				<text dashboard-running-text dashboard-show="%LEVEL_IS_CUSTOM_SONG%">%LEVEL_SONG%</text>
				
				<span dashboard-show="%LEVEL_IS_CUSTOM_SONG%">
					• <text dashboard-copy dashboard-not-button>%LEVEL_SONG_ID%</text>
				</span>
			</div>
			
			<div class="levelStats card">
				<text class="levelStat" title="%TEXT_levelID%">
					<i class="fa-solid fa-gamepad"></i>
					<text dashboard-copy>%levelID%</text>
				</text>
				
				<text class="levelStat" title="%TEXT_levelPrivacy%" dashboard-show="%LEVEL_SHOW_PRIVACY%">
					<i class="fa-solid fa-%LEVEL_PRIVACY_ICON%"></i>
					%LEVEL_PRIVACY_TEXT%
				</text>
			
				<text class="levelStat" title="%TEXT_uploadDate%">
					<i class="fa-solid fa-calendar"></i>
					<text dashboard-date="%uploadDate%"></text>
				</text>
			
				<text class="levelStat" title="%TEXT_levelLength%">
					<i class="fa-solid fa-clock"></i>
					%LEVEL_LENGTH%
				</text>
				
				<text class="levelStat" title="%TEXT_stars%" dashboard-hide="%LEVEL_IS_PLATFORMER%">
					<i class="fa-solid fa-star"></i>
					%starStars%
				</text>
				
				<text class="levelStat" title="%TEXT_moons%" dashboard-show="%LEVEL_IS_PLATFORMER%">
					<i class="fa-solid fa-moon"></i>
					%starStars%
				</text>
				
				<text class="levelStat" title="%TEXT_downloads%">
					<i class="fa-solid fa-reply fa-rotate-270"></i>
					%downloads%
				</text>
				
				<text class="levelStat" title="%TEXT_rating%">
					<i dashboard-hide="%LEVEL_IS_DISLIKED%" class="fa-solid fa-thumbs-up"></i>
					<i dashboard-show="%LEVEL_IS_DISLIKED%" class="fa-solid fa-thumbs-down"></i>
					%LEVEL_LIKES%
				</text>
				
				<button class="button titleToRight" type="button" title="%TEXT_viewLevel%" href="browse/levels/%levelID%" dashboard-loader-type="settings">
					<i class="fa-solid fa-eye"></i>
					<text dashboard-mobile>%TEXT_viewLevel%</text>
				</button>
			</div>
		</div>
	</div>
	
	%LEVEL_CONTEXT_MENU%
</div>