<div class="contentDiv" dashboard-context-div>
	<div class="vertical">
		<div class="levelTitle">
			<div class="horisontal">
				<h2>%POST_USER%</h2>
			</div>
			
			<div class="commentStat">
				<form name="post%commentID%">
					<input type="hidden" name="postID" value="%commentID%"></input>
				</form>
				
				<text title="%TEXT_likes%" dashboard-show="%POST_PERSON_LIKED%">
					<i class="fa-solid fa-thumbs-up"></i> %likes%
				</text>
				<text title="%TEXT_likes%" dashboard-hide="%POST_PERSON_LIKED%">
					<i class="fa-regular fa-thumbs-up"></i> %likes%
				</text>
				
				<text title="%TEXT_dislikes%" dashboard-show="%POST_PERSON_DISLIKED%">
					<i class="fa-solid fa-thumbs-down"></i> %dislikes%
				</text>
				<text title="%TEXT_dislikes%" dashboard-hide="%POST_PERSON_DISLIKED%">
					<i class="fa-regular fa-thumbs-down"></i> %dislikes%
				</text>
			</div>
		</div>
		
		<h3 class="levelDescription">
			<span class="emptySymbol">:(</span>
			%POST_CONTENT%
		</h3>
		
		<div class="stats small">
			<button class="button small" title="%TEXT_replies%" href="profile/%POST_NAME%/posts/%commentID%" dashboard-show="%POST_SHOW_REPLIES%">
				<i class="fa-solid fa-comment"></i> 
				<text>%repliesCount%</text>
			</button>
			
			<div class="commentStat" title="ID" dashboard-hide="%POST_SHOW_REPLIES%">
				<i class="fa-solid fa-comment"></i> 
				<text dashboard-copy>%commentID%</text>
			</div>
			
			<div class="commentStat" title="%TEXT_uploadDate%">
				<i class="fa-solid fa-calendar"></i>
				<text dashboard-date="%timestamp%"></text>
			</div>
		</div>
	</div>
	
	%POST_CONTEXT_MENU%
</div>