<div class="contentDiv" dashboard-context-div>
	<div class="horisontal spaceBetween">
		<div class="levelTitle">
			<h2 class="horisontal">
				%USER_CARD%
				
				<span class="extraIcon" title="%USER_EXTRA_ICON_TITLE%">
					<i dashboard-show="%USER_SHOW_EXTRA_ICON%" class="fa-solid fa-%USER_EXTRA_ICON%" ></i>
				</span>
			</h2>
		</div>
		
		<h1 dashboard-score="%USER_RANK%" dashboard-show="%USER_SHOW_RANK%">
			<i dashboard-show="%USER_IS_LEADER%" class="fa-solid fa-trophy"></i>
			<i dashboard-hide="%USER_IS_LEADER%" class="fa-solid fa-hashtag"></i>
			%USER_RANK%
		</h1>
	</div>
	
	<div class="viewMoreDiv" dashboard-view-more>
		<button class="button" type="button" dashboard-mobile dashboard-view-more-button>
			<i class="fa-solid fa-caret-right" dashboard-view-more-icon></i>
			
			<div class="viewMoreText">
				<text dashboard-view-more-text-closed>%TEXT_viewMore%</text>
				<text dashboard-view-more-text-opened>%TEXT_hide%</text>
			</div>
		</button>
	
		<div class="horisontal stats">
			<div class="levelStats card">
				<text class="levelStat" title="%TEXT_accountID%">
					<i class="fa-solid fa-user"></i>
					<text dashboard-copy>%extID%</text>
				</text>
				
				<text class="levelStat" title="%TEXT_userID%">
					<i class="fa-regular fa-user"></i>
					<text dashboard-copy>%userID%</text>
				</text>
			</div>
			
			<div class="levelStats card">
				<text class="levelStat" title="%TEXT_registerDate%" dashboard-show="%USER_SHOW_REGISTER_DATE%">
					<i class="fa-solid fa-calendar"></i>
					<text dashboard-date="%registerDate%"></text>
				</text>
			
				<div class="levelStat" title="%TEXT_stars%">
					<i class="fa-solid fa-star"></i>
					%stars%
				</div>
			
				<div class="levelStat" title="%TEXT_moons%">
					<i class="fa-solid fa-moon"></i>
					%moons%
				</div>
				
				<div class="levelStat" title="%TEXT_diamonds%">
					<i class="fa-solid fa-gem"></i>
					%diamonds%
				</div>
				
				<div class="levelStat" title="%TEXT_goldCoins%">
					<i class="fa-solid fa-coins goldCoins"></i>
					%coins%
				</div>
				
				<div class="levelStat" title="%TEXT_userCoins%">
					<i class="fa-solid fa-coins"></i>
					%userCoins%
				</div>
				
				<div class="levelStat" title="%TEXT_demons%">
					<i class="fa-solid fa-dragon"></i>
					%demons%
				</div>
				
				<div class="levelStat" title="%TEXT_creatorPoints%">
					<i class="fa-solid fa-screwdriver-wrench"></i>
					%creatorPoints%
				</div>
				
				<button class="button titleToRight" type="button" title="%TEXT_viewAccount%" href="profile/%USER_NAME%" dashboard-loader-type="settings">
					<i class="fa-solid fa-eye"></i>
					<text dashboard-mobile>%TEXT_viewAccount%</text>
				</button>
			</div>
		</div>
	</div>
	
	%USER_CONTEXT_MENU%
</div>