<div class="pageDiv" dashboard-page-buttons>
	<div class="modeButtons">
		<button type="button" title="%TEXT_players%" onclick="getPage('@page=REMOVE_QUERY&type=REMOVE_QUERY', 'list')"><i class="fa-solid fa-chart-simple"></i></button>
		<button type="button" title="%TEXT_friends%" onclick="getPage('@page=REMOVE_QUERY&type=friends', 'list')"><i class="fa-solid fa-user-group"></i></button>
		<button type="button" title="%TEXT_global%" onclick="getPage('@page=REMOVE_QUERY&type=relative', 'list')"><i class="fa-solid fa-globe"></i></button>
		<button type="button" title="%TEXT_creators%" onclick="getPage('@page=REMOVE_QUERY&type=creators', 'list')"><i class="fa-solid fa-screwdriver-wrench"></i></button>
	</div>
	
	<div class="modeButtons">
		<button type="button" title="%TEXT_stars%" onclick="getPage('@page=REMOVE_QUERY&mode=REMOVE_QUERY', 'list')"><i class="fa-solid fa-star"></i></button>
		<button type="button" title="%TEXT_moons%" onclick="getPage('@page=REMOVE_QUERY&mode=1', 'list')"><i class="fa-solid fa-moon"></i></button>
		<button type="button" title="%TEXT_demons%" onclick="getPage('@page=REMOVE_QUERY&mode=2', 'list')"><i class="fa-solid fa-dragon"></i></button>
		<button type="button" title="%TEXT_userCoins%" onclick="getPage('@page=REMOVE_QUERY&mode=3', 'list')"><i class="fa-solid fa-coins"></i></button>
	</div>
	
	<p>%USER_PAGE_TEXT%</p>
	
	<div class="pageButtons">
		<button dashboard-disable="%IS_FIRST_PAGE%" class="pageButton" type="button" onclick="%FIRST_PAGE_BUTTON%">
			<i class="fa-solid fa-backward"></i>
		</button>
		
		<button dashboard-disable="%IS_FIRST_PAGE%" class="pageButton" type="button" onclick="%PREVIOUS_PAGE_BUTTON%">
			<i class="fa-solid fa-chevron-left"></i>
		</button>
		
		<button dashboard-disable="%IS_LAST_PAGE%" class="pageButton" type="button" onclick="%NEXT_PAGE_BUTTON%">
			<i class="fa-solid fa-chevron-right"></i>
		</button>
		
		<button dashboard-disable="%IS_LAST_PAGE%" class="pageButton" type="button" onclick="%LAST_PAGE_BUTTON%">
			<i class="fa-solid fa-forward"></i>
		</button>
	</div>
</div>

<div class="nothingOnPageDiv" dashboard-show="%USER_NO_USERS%">
	<i class="fa-solid fa-user-slash nothing-icon"></i>
	<h1>%TEXT_noAccounts%</h1>
</div>

%ADDITIONAL_PAGE%