<div class="wideBox levelPage">
	<div class="contentDiv" dashboard-context-div>
		<div class="horisontal">
			<div class="vertical">
				<div class="levelTitle">
					<h2>%LEVEL_TITLE% • <text dashboard-copy>%levelID%</text></h2>
				</div>
				
				<h3 class="levelDescription">
					<span class="emptySymbol">:(</span>
					%LEVEL_DESCRIPTION%
				</h3>
			</div>
			
			<img loading="lazy" class="difficultyImage" src="%LEVEL_DIFFICULTY_IMAGE%"></img>
		</div>
		
		<div class="horisontal stats">
			<div class="songCard" dashboard-button>
				<button class="contents" dashboard-show="%LEVEL_IS_CUSTOM_SONG%"
					dashboard-title="%LEVEL_SONG_TITLE%"
					dashboard-author="%LEVEL_SONG_AUTHOR%"
					dashboard-url="%LEVEL_SONG_URL%"
					dashboard-song="%LEVEL_SONG_ID%"
				>
					<i class="fa-solid fa-circle-play"></i>
				</button>
				<i dashboard-hide="%LEVEL_IS_CUSTOM_SONG%" class="fa-solid fa-music"></i>
				
				<text dashboard-hide="%LEVEL_IS_CUSTOM_SONG%">%LEVEL_SONG%</text>
				<text dashboard-running-text dashboard-show="%LEVEL_IS_CUSTOM_SONG%">%LEVEL_SONG%</text>
				
				<span dashboard-show="%LEVEL_IS_CUSTOM_SONG%" dashboard-not-button>
					• <text dashboard-copy>%LEVEL_SONG_ID%</text>
				</span>
			</div>
			
			<button class="button short titleToRight" type="button" onclick="copyElementContent('browse/levels/%levelID%', true)">
				<i class="fa-solid fa-chain"></i>
				%TEXT_copyLink%
			</button>
		</div>
		
		%LEVEL_CONTEXT_MENU%
	</div>
	
	<div class="horisontal">
		<div class="levelStats">
			<div class="levelStat several">
				<text  title="%TEXT_stars%">
					<i class="fa-solid fa-star"></i> %starStars%
				</text>
				<text  title="%TEXT_requestedStars%" dashboard-show="%LEVEL_HAS_REQUESTED_STARS%">
					<i class="fa-regular fa-star"></i> %requestedStars%
				</text>
			</div>
			
			<div class="levelStat" title="%TEXT_downloads%">
				<text>
					<i class="fa-solid fa-reply fa-rotate-270"></i>
					%downloads%
				</text>
			</div>
			
			<div class="levelStat several">
				<text title="%TEXT_likes%" dashboard-show="%LEVEL_PERSON_LIKED%">
					<i class="fa-solid fa-thumbs-up"></i> %likes%
				</text>
				<text title="%TEXT_likes%" dashboard-hide="%LEVEL_PERSON_LIKED%">
					<i class="fa-regular fa-thumbs-up"></i> %likes%
				</text>
				
				<text title="%TEXT_dislikes%" dashboard-show="%LEVEL_PERSON_DISLIKED%">
					<i class="fa-solid fa-thumbs-down"></i> %dislikes%
				</text>
				<text title="%TEXT_dislikes%" dashboard-hide="%LEVEL_PERSON_DISLIKED%">
					<i class="fa-regular fa-thumbs-down"></i> %dislikes%
				</text>
			</div>
		
			<div class="levelStat" title="%TEXT_levelLength%">
				<text>
					<i class="fa-solid fa-clock"></i>
					%LEVEL_LENGTH%
				</text>
			</div>
			
			<div class="levelStat" title="%TEXT_uploadDate%">
				<text>
					<i class="fa-solid fa-calendar"></i>
					<text dashboard-date="%uploadDate%" dashboard-full></text>
				</text>
			</div>
		
			<div class="levelStat" title="%TEXT_levelPrivacy%">
				<text>
					<i class="fa-solid fa-%LEVEL_PRIVACY_ICON%"></i>
					%LEVEL_PRIVACY_TEXT%
				</text>
			</div>
			
			<div class="levelStat several" title="%TEXT_password%" dashboard-show="%LEVEL_CAN_SEE_PASSWORD%">
				<text>
					<i class="fa-solid fa-key"></i> <text dashboard-password="%LEVEL_PASSWORD%">••••••</text>
				</text>
				
				<button type="button" class="eyeButton" onclick="showLevelPassword()"><i class="fa-solid fa-eye"></i></button>
			</div>
			
			<div class="levelStat several" title="%TEXT_comments%">
				<text>
					<i class="fa-solid fa-comment"></i> %LEVEL_COMMENTS%
				</text>
				
				<button type="button" class="eyeButton" href="browse/levels/%levelID%/comments" dashboard-loader-type="settings"><i class="fa-solid fa-eye"></i></button>
			</div>
			
			<div class="levelStat several" title="%TEXT_scores%">
				<text>
					<i class="fa-solid fa-chart-simple"></i> %LEVEL_SCORES%
				</text>
				
				<button type="button" class="eyeButton" href="browse/levels/%levelID%/scores" dashboard-loader-type="settings"><i class="fa-solid fa-eye"></i></button>
			</div>
			
			<div class="levelStat several" title="%TEXT_songs%">
				<text>
					<i class="fa-solid fa-music"></i> %LEVEL_SONGS%
				</text>
				
				<button type="button" class="eyeButton" href="browse/levels/%levelID%/songs" dashboard-loader-type="settings"><i class="fa-solid fa-eye"></i></button>
			</div>
			
			<div class="levelStat several" title="%TEXT_sfxs%">
				<text>
					<i class="fa-solid fa-drum"></i> %LEVEL_SFXS%
				</text>
				
				<button type="button" class="eyeButton" href="browse/levels/%levelID%/sfxs" dashboard-loader-type="settings"><i class="fa-solid fa-eye"></i></button>
			</div>
			
			<div class="levelStat several" dashboard-show="%LEVEL_CAN_MANAGE%" title="%TEXT_manageLevel%">
				<text>
					<i class="fa-solid fa-pencil"></i> %TEXT_manage%
				</text>
				
				<button type="button" class="eyeButton" href="browse/levels/%levelID%/manage" dashboard-loader-type="settings"><i class="fa-solid fa-eye"></i></button>
			</div>
		</div>
		
		<div class="commentsDiv" dashboard-page-div>
			<div class="nothingOnPageDiv" dashboard-show="%LEVEL_IS_NOTHING_OPENED%">
				<i class="fa-solid fa-ellipsis nothing-icon"></i>
				<h1>%TEXT_nothingOpened%</h1>
				<i class="fa-solid fa-share arrow-icon"></i>
			</div>
			
			%LEVEL_ADDITIONAL_PAGE%
		</div>
	</div>
</div>