<div class="pageDiv" dashboard-page-buttons>
	<button class="button squareButton big" type="button" title="%TEXT_filters%" dashboard-modal-button="levelFilters" dashboard-show="%ENABLE_FILTERS%">
		<i class="fa-solid fa-filter"></i>
	</button>
	
	<p>%LEVEL_PAGE_TEXT%</p>
	
	<div class="pageButtons">
		<button dashboard-disable="%IS_FIRST_PAGE%" class="pageButton" type="button" onclick="%FIRST_PAGE_BUTTON%">
			<i class="fa-solid fa-backward"></i>
		</button>
		
		<button dashboard-disable="%IS_FIRST_PAGE%" class="pageButton" type="button" onclick="%PREVIOUS_PAGE_BUTTON%">
			<i class="fa-solid fa-chevron-left"></i>
		</button>
		
		<button dashboard-disable="%IS_LAST_PAGE%" class="pageButton" type="button" onclick="%NEXT_PAGE_BUTTON%">
			<i class="fa-solid fa-chevron-right"></i>
		</button>
		
		<button dashboard-disable="%IS_LAST_PAGE%" class="pageButton" type="button" onclick="%LAST_PAGE_BUTTON%">
			<i class="fa-solid fa-forward"></i>
		</button>
	</div>
</div>

<div class="nothingOnPageDiv" dashboard-show="%LEVEL_NO_LEVELS%">
	<i class="fa-solid fa-gamepad nothing-icon"></i>
	<h1>%TEXT_noLevels%</h1>
</div>

%ADDITIONAL_PAGE%

<form class="modalPage" dashboard-modal="levelFilters" dashboard-show="%ENABLE_FILTERS%">
	<div class="box">
		<div class="inlineForm">
			<input dashboard-modal-search class="inputStyle bordered" type="text" name="str" autocomplete="off" placeholder="%TEXT_searchText%" />
		</div>
		
		<div class="horisontal">
			<div class="vertical">
				<div class="languageDiv" dashboard-toggle>
					<div class="settingDescription">
						<h2>%TEXT_originalLevelsTitle%</h2>
						<h3>%TEXT_originalLevelsDesc%</h3>
					</div>
					
					<input class="toggle" type="checkbox" name="original" value="1"></input>
				</div>
				
				<div class="languageDiv" dashboard-toggle>
					<div class="settingDescription">
						<h2>%TEXT_notRatedTitle%</h2>
						<h3>%TEXT_notRatedDesc%</h3>
					</div>
					
					<input class="toggle" type="checkbox" name="noStar" value="1"></input>
				</div>
				
				<div class="languageDiv" dashboard-toggle>
					<div class="settingDescription">
						<h2>Featured</h2>
						<h3>%TEXT_featuredDesc%</h3>
					</div>
					
					<input class="toggle" type="checkbox" name="featured" value="1"></input>
				</div>
				
				<div class="languageDiv" dashboard-toggle>
					<div class="settingDescription">
						<h2>Legendary</h2>
						<h3>%TEXT_legendaryDesc%</h3>
					</div>
					
					<input class="toggle" type="checkbox" name="mythic" value="1"></input>
				</div>
				
				<div class="languageDiv" dashboard-toggle>
					<div class="settingDescription">
						<h2>%TEXT_songSettingTitle%</h2>
						<h3>%TEXT_songSettingDesc%</h3>
					</div>
					
					<input class="toggle" type="checkbox" name="customSong" dashboard-select-show="songSearch" value="1"></input>
				</div>
				
				<div class="select hide" dashboard-select-search="songSearch">
					<input type="hidden" name="song" value="0" dashboard-select-value disabled />
					<input type="text" placeholder="%TEXT_searchText%" dashboard-select-input="manage/getSongs" />
					
					<i class="fa-solid fa-caret-right" dashboard-caret></i>
					
					<div class="options" dashboard-select-options></div>
				</div>
			</div>
			
			<div class="vertical">
				<div class="languageDiv" dashboard-toggle>
					<div class="settingDescription">
						<h2>%TEXT_coinsTitle%</h2>
						<h3>%TEXT_coinsDesc%</h3>
					</div>
					
					<input class="toggle" type="checkbox" name="coins" value="1"></input>
				</div>
				
				<div class="languageDiv" dashboard-toggle>
					<div class="settingDescription">
						<h2>%TEXT_ratedTitle%</h2>
						<h3>%TEXT_ratedDesc%</h3>
					</div>
					
					<input class="toggle" type="checkbox" name="star" value="1"></input>
				</div>
				
				<div class="languageDiv" dashboard-toggle>
					<div class="settingDescription">
						<h2>Epic</h2>
						<h3>%TEXT_epicDesc%</h3>
					</div>
					
					<input class="toggle" type="checkbox" name="epic" value="1"></input>
				</div>
				
				<div class="languageDiv" dashboard-toggle>
					<div class="settingDescription">
						<h2>Mythic</h2>
						<h3>%TEXT_mythicDesc%</h3>
					</div>
					
					<input class="toggle" type="checkbox" name="legendary" value="1"></input>
				</div>
				
				<div class="languageDiv" dashboard-toggle>
					<div class="settingDescription">
						<h2>%TEXT_twoPlayerTitle%</h2>
						<h3>%TEXT_twoPlayerDesc%</h3>
					</div>
					
					<input class="toggle" type="checkbox" name="twoPlayer" value="1"></input>
				</div>
			</div>
		</div>
		
		<div class="difficultiesDiv">
			<div class="difficultyButton non-demon" dashboard-filter-button>
				<button type="button" title="N/A"></button>
				<img loading="lazy" src="%DIFFICULTIES_URL%stars/na.png"></img>
				<input type="hidden" name="diff[]" value="-1" disabled></input>
			</div>
			
			<div class="difficultyButton non-demon" dashboard-filter-button>
				<button type="button" title="Auto"></button>
				<img loading="lazy" src="%DIFFICULTIES_URL%stars/auto.png"></img>
				<input type="hidden" name="diff[]" value="-3" disabled></input>
			</div>
			
			<div class="difficultyButton non-demon" dashboard-filter-button>
				<button type="button" title="Easy"></button>
				<img loading="lazy" src="%DIFFICULTIES_URL%stars/easy.png"></img>
				<input type="hidden" name="diff[]" value="1" disabled></input>
			</div>
			
			<div class="difficultyButton non-demon" dashboard-filter-button>
				<button type="button" title="Normal"></button>
				<img loading="lazy" src="%DIFFICULTIES_URL%stars/normal.png"></img>
				<input type="hidden" name="diff[]" value="2" disabled></input>
			</div>
			
			<div class="difficultyButton non-demon" dashboard-filter-button>
				<button type="button" title="Hard"></button>
				<img loading="lazy" src="%DIFFICULTIES_URL%stars/hard.png"></img>
				<input type="hidden" name="diff[]" value="3" disabled></input>
			</div>
			
			<div class="difficultyButton non-demon" dashboard-filter-button>
				<button type="button" title="Harder"></button>
				<img loading="lazy" src="%DIFFICULTIES_URL%stars/harder.png"></img>
				<input type="hidden" name="diff[]" value="4" disabled></input>
			</div>
			
			<div class="difficultyButton non-demon" dashboard-filter-button>
				<button type="button" title="Insane"></button>
				<img loading="lazy" src="%DIFFICULTIES_URL%stars/insane.png"></img>
				<input type="hidden" name="diff[]" value="5" disabled></input>
			</div>
			
			<div class="difficultyButton demon" dashboard-filter-button="demon">
				<button type="button" title="Easy Demon"></button>
				<img loading="lazy" src="%DIFFICULTIES_URL%stars/demon-easy.png"></img>
				<input type="hidden" name="diff[]" value="-2" dashboard-modal-skip disabled></input>
				<input type="hidden" name="demonFilter[]" value="1" disabled></input>
			</div>
			
			<div class="difficultyButton demon" dashboard-filter-button="demon">
				<button type="button" title="Medium Demon"></button>
				<img loading="lazy" src="%DIFFICULTIES_URL%stars/demon-medium.png"></img>
				<input type="hidden" name="diff[]" value="-2" dashboard-modal-skip disabled></input>
				<input type="hidden" name="demonFilter[]" value="2" disabled></input>
			</div>
			
			<div class="difficultyButton" dashboard-filter-button="demon">
				<button type="button" title="Hard Demon"></button>
				<img loading="lazy" src="%DIFFICULTIES_URL%stars/demon-hard.png"></img>
				<input type="hidden" name="diff[]" value="-2" dashboard-modal-skip disabled></input>
				<input type="hidden" name="demonFilter[]" value="3" disabled></input>
			</div>
			
			<div class="difficultyButton demon" dashboard-filter-button="demon">
				<button type="button" title="Insane Demon"></button>
				<img loading="lazy" src="%DIFFICULTIES_URL%stars/demon-insane.png"></img>
				<input type="hidden" name="diff[]" value="-2" dashboard-modal-skip disabled></input>
				<input type="hidden" name="demonFilter[]" value="4" disabled></input>
			</div>
			
			<div class="difficultyButton demon" dashboard-filter-button="demon">
				<button type="button" title="Extreme Demon"></button>
				<img loading="lazy" src="%DIFFICULTIES_URL%stars/demon-extreme.png"></img>
				<input type="hidden" name="diff[]" value="-2" dashboard-modal-skip disabled></input>
				<input type="hidden" name="demonFilter[]" value="5" disabled></input>
			</div>
		</div>
		
		<div class="horisontal spaceBetween">
			<div class="difficultiesDiv start buttons">
				<div class="difficultyButton" dashboard-filter-button>
					<button type="button" title="%TEXT_levelLengthTinyDesc%">Tiny</button>
					<input type="hidden" name="len[]" value="0" disabled></input>
				</div>
				
				<div class="difficultyButton" dashboard-filter-button>
					<button type="button" title="%TEXT_levelLengthShortDesc%">Short</button>
					<input type="hidden" name="len[]" value="1" disabled></input>
				</div>
				
				<div class="difficultyButton" dashboard-filter-button>
					<button type="button" title="%TEXT_levelLengthMediumDesc%">Medium</button>
					<input type="hidden" name="len[]" value="2" disabled></input>
				</div>
				
				<div class="difficultyButton" dashboard-filter-button>
					<button type="button" title="%TEXT_levelLengthLongDesc%">Long</button>
					<input type="hidden" name="len[]" value="3" disabled></input>
				</div>
				
				<div class="difficultyButton" dashboard-filter-button>
					<button type="button" title="%TEXT_levelLengthXLDesc%">XL</button>
					<input type="hidden" name="len[]" value="4" disabled></input>
				</div>
				
				<div class="difficultyButton" dashboard-filter-button>
					<button type="button" title="%TEXT_levelLengthPlatformerDesc%">Platformers</button>
					<input type="hidden" name="len[]" value="5" disabled></input>
				</div>
			</div>
			
			<div class="applyButtons">
				<button type="button" class="button squareButton big" title="%TEXT_resetFilters%" onclick="getPage(window.location.pathname, 'list')">
					<i class="fa-solid fa-xmark"></i>
				</button>
				
				<button type="button" class="button squareButton big" title="%TEXT_applyFilters%" onclick="applyFilters('levelFilters')">
					<i class="fa-solid fa-check"></i>
				</button>
			</div>
		</div>
	</div>
</form>