<div class="wideBox levelPage">
	<div class="contentDiv" dashboard-context-div>
		<div class="horisontal bigGap">
			<div class="profilePlayerIcon">
				<img src="%PROFILE_MAIN_ICON_URL%" />
			</div>
			
			<div class="vertical">
				<div class="horisontal spaceBetween flexStart">
					<div class="profileTitle">
						<h1 %PROFILE_ATTRIBUTES%>%PROFILE_USERNAME%</h1>
						<img dashboard-show="%PROFILE_HAS_BADGE%" src="incl/icons/badge_%PROFILE_MODERATOR_BADGE%.png" />
						%PROFILE_CLAN_STRING%
					</div>
					
					<h1 title="%TEXT_rank%" dashboard-score="%PROFILE_RANK%" dashboard-show="%PROFILE_HAS_RANK%">
						<i dashboard-show="%PROFILE_IS_TOP_100%" class="fa-solid fa-trophy"></i>
						<i dashboard-hide="%PROFILE_IS_TOP_100%" class="fa-solid fa-hashtag"></i>
						%PROFILE_RANK%
					</h1>
				</div>
				
				<div class="horisontal spaceBetween flexEnd">
					<div class="iconKitDiv">
						<img class="profileIconBig" src="%PROFILE_ICON_CUBE%" />
						<img class="profileIconSmall" src="%PROFILE_ICON_SHIP%" />
						<img class="profileIconBig" src="%PROFILE_ICON_BALL%" />
						<img class="profileIconBig" src="%PROFILE_ICON_UFO%" />
						<img class="profileIconSmall" src="%PROFILE_ICON_WAVE%" />
						<img class="profileIconBig" src="%PROFILE_ICON_ROBOT%" />
						<img class="profileIconBig" src="%PROFILE_ICON_SPIDER%" />
						<img class="profileIconBig" src="%PROFILE_ICON_SWING%" />
						<img class="profileIconBig" src="%PROFILE_ICON_JETPACK%" />
					</div>
					
					<div class="horisontal settingsButton">
						<button class="button short" type="button" dashboard-href-new-tab="https://www.youtube.com/channel/%PROFILE_YOUTUBE_CHANNEL%" dashboard-show="%PROFILE_HAS_YOUTUBE_CHANNEL%">
							<i class="fa-brands fa-youtube"></i>
							YouTube
						</button>
						
						<button class="button short" type="button" dashboard-href-new-tab="https://x.com/%PROFILE_TWITTER_ACCOUNT%" dashboard-show="%PROFILE_HAS_TWITTER_ACCOUNT%">
							<i class="fa-brands fa-x-twitter"></i>
							X
						</button>
						
						<button class="button short" type="button" dashboard-href-new-tab="https://twitch.tv/%PROFILE_TWITCH_CHANNEL%" dashboard-show="%PROFILE_HAS_TWITCH_CHANNEL%">
							<i class="fa-brands fa-twitch"></i>
							Twitch
						</button>
						
						<button class="button short" type="button" dashboard-href-new-tab="https://discord.com/users/%PROFILE_DISCORD_ACCOUNT%" dashboard-show="%PROFILE_HAS_DISCORD_ACCOUNT%">
							<i class="fa-brands fa-discord"></i>
							Discord
						</button>
						
						<button class="button short" type="button" onclick="copyElementContent('profile/%PROFILE_USERNAME%', true)">
							<i class="fa-solid fa-chain"></i>
							%TEXT_copyLink%
						</button>
					</div>
				</div>
			</div>
		</div>
		
		%PROFILE_CONTEXT_MENU%
	</div>
	
	<div class="horisontal">
		<div class="levelStats">
			<div class="levelStat several">
				<text title="%TEXT_accountID%">
					<i class="fa-solid fa-user"></i>
					<text dashboard-copy>%extID%</text>
				</text>
				
				<text title="%TEXT_userID%">
					<i class="fa-regular fa-user"></i>
					<text dashboard-copy>%userID%</text>
				</text>
			</div>
		
			<text class="levelStat" title="%TEXT_registerDate%">
				<i class="fa-solid fa-calendar"></i>
				<text dashboard-date="%PROFILE_REGISTER_DATE%" dashboard-full></text>
			</text>
			
			<div class="levelStat" title="%TEXT_stars%">
				<i class="fa-solid fa-star"></i>
				%stars%
			</div>
			
			<div class="levelStat" title="%TEXT_moons%">
				<i class="fa-solid fa-moon"></i>
				%moons%
			</div>
			
			<div class="levelStat" title="%TEXT_diamonds%">
				<i class="fa-solid fa-gem"></i>
				%diamonds%
			</div>
			
			<div class="levelStat" title="%TEXT_goldCoins%">
				<i class="fa-solid fa-coins goldCoins"></i>
				%coins%
			</div>
			
			<div class="levelStat" title="%TEXT_userCoins%">
				<i class="fa-solid fa-coins"></i>
				%userCoins%
			</div>
			
			<div class="levelStat" title="%TEXT_demons%">
				<i class="fa-solid fa-dragon"></i>
				%demons%
			</div>
			
			<div class="levelStat" title="%TEXT_creatorPoints%">
				<i class="fa-solid fa-screwdriver-wrench"></i>
				%creatorPoints%
			</div>
			
			<div class="levelStat several" title="%TEXT_personPosts%" dashboard-button>
				<text>
					<i class="fa-solid fa-comment-dots"></i>
					%PROFILE_POSTS_COUNT%
				</text>
				
				<button type="button" class="eyeButton" href="profile/%PROFILE_USERNAME%" dashboard-loader-type="settings"><i class="fa-solid fa-eye"></i></button>
			</div>
			
			<div class="levelStat several" title="%TEXT_personComments%" dashboard-show="%PROFILE_CAN_SEE_COMMENT_HISTORY%" dashboard-button>
				<text>
					<i class="fa-solid fa-comment"></i>
					%PROFILE_COMMENTS_COUNT%
				</text>
				
				<button type="button" class="eyeButton" href="profile/%PROFILE_USERNAME%/comments" dashboard-loader-type="settings"><i class="fa-solid fa-eye"></i></button>
			</div>
			
			<div class="levelStat several" title="%TEXT_personScores%" dashboard-button>
				<text>
					<i class="fa-solid fa-chart-simple"></i>
					%PROFILE_SCORES_COUNT%
				</text>
				
				<button type="button" class="eyeButton" href="profile/%PROFILE_USERNAME%/scores" dashboard-loader-type="settings"><i class="fa-solid fa-eye"></i></button>
			</div>
			
			<div class="levelStat several" title="%TEXT_personSongs%" dashboard-button>
				<text>
					<i class="fa-solid fa-music"></i>
					%PROFILE_SONGS_COUNT%
				</text>
				
				<button type="button" class="eyeButton" href="profile/%PROFILE_USERNAME%/songs" dashboard-loader-type="settings"><i class="fa-solid fa-eye"></i></button>
			</div>
			
			<div class="levelStat several" title="%TEXT_personSFXs%" dashboard-button>
				<text>
					<i class="fa-solid fa-drum"></i>
					%PROFILE_SFXS_COUNT%
				</text>
				
				<button type="button" class="eyeButton" href="profile/%PROFILE_USERNAME%/sfxs" dashboard-loader-type="settings"><i class="fa-solid fa-eye"></i></button>
			</div>
			
			<div class="levelStat several" title="%TEXT_personBans%" dashboard-show="%PROFILE_CAN_SEE_BANS%" dashboard-button>
				<text>
					<i class="fa-solid fa-gavel"></i>
					%PROFILE_BANS_COUNT%
				</text>
				
				<button type="button" class="eyeButton" href="profile/%PROFILE_USERNAME%/bans" dashboard-loader-type="settings"><i class="fa-solid fa-eye"></i></button>
			</div>
			
			<div class="levelStat several" dashboard-show="%PROFILE_CAN_OPEN_SETTINGS%" title="%TEXT_accountSettings%" dashboard-button>
				<text>
					<i class="fa-solid fa-gear"></i>
					%TEXT_settings%
				</text>
				
				<button type="button" class="eyeButton" href="profile/%PROFILE_USERNAME%/settings" dashboard-loader-type="settings"><i class="fa-solid fa-eye"></i></button>
			</div>
		</div>
		
		<div class="commentsDiv" dashboard-page-div>
			%PROFILE_ADDITIONAL_PAGE%
		</div>
	</div>
</div>