<div class="contextMenuDiv" dashboard-context-menu>
	<button class="contextMenuButton contextMenuTitle" %MENU_NAME_ATTRIBUTES% type="button" href="clan/%MENU_NAME%" dashboard-loader-type="settings" dashboard-show="%MENU_SHOW_NAME%">
		<i class="fa-solid fa-shield-halved"></i>
		<text>%MENU_NAME%</text>
	</button>
	
	<hr dashboard-show="%MENU_SHOW_NAME%">
	
	<button class="contextMenuButton" title="%TEXT_viewClan%" type="button" href="clan/%MENU_NAME%" dashboard-loader-type="settings">
		<i class="fa-solid fa-eye"></i>
		<text>%TEXT_viewClan%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_clanPosts%" type="button" href="clan/%MENU_NAME%/posts" dashboard-loader-type="settings">
		<i class="fa-solid fa-comment"></i>
		<text>%TEXT_clanPosts%</text>
	</button>
	
	<hr dashboard-show="%MENU_SHOW_MANAGE_HR%">
	
	<button class="contextMenuButton" title="%TEXT_reportClan%" type="button" dashboard-modal-button="reportModal" dashboard-modal-name="clanID" dashboard-modal-value="%MENU_ID%" dashboard-show="%IS_LOGGED_IN%">
		<i class="fa-solid fa-flag"></i>
		<text>%TEXT_reportClan%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_clanSettings%" type="button" href="clan/%MENU_NAME%/settings" dashboard-loader-type="settings" dashboard-show="%MENU_CAN_OPEN_SETTINGS%">
		<i class="fa-solid fa-gear"></i>
		<text>%TEXT_clanSettings%</text>
	</button>
	
	<hr>
	
	<button class="contextMenuButton" title="%TEXT_copyLink%" type="button" onclick="copyElementContent('clan/%MENU_NAME%', true)">
		<i class="fa-solid fa-chain"></i>
		<text>%TEXT_copyLink%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_copyClanID%" type="button" onclick="copyElementContent('%MENU_ID%')">
		<i class="fa-solid fa-shield-halved"></i>
		<text>%TEXT_copyClanID%</text>
	</button>
</div>