<div class="contextMenuDiv" dashboard-context-menu>
	<button class="contextMenuButton" title="%TEXT_deleteComment%" type="button" onclick="postPage('manage/deleteComment', 'comment%MENU_ID%', 'settings')" dashboard-show="%MENU_CAN_DELETE%">
		<i class="fa-solid fa-trash"></i>
		<text>%TEXT_deleteComment%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_reportComment%" type="button" dashboard-modal-button="reportModal" dashboard-modal-name="commentID" dashboard-modal-value="%MENU_ID%" dashboard-show="%IS_LOGGED_IN%">
		<i class="fa-solid fa-flag"></i>
		<text>%TEXT_reportComment%</text>
	</button>

	<hr dashboard-show="%MENU_CAN_BAN%">
	
	<button class="contextMenuButton" title="%TEXT_banPerson%" type="button" href="profile/%MENU_NAME%/ban" dashboard-loader-type="settings" dashboard-show="%MENU_CAN_BAN%" style="--button-color: #ff9999;">
		<i class="fa-solid fa-gavel"></i>
		<text>%TEXT_banPerson%</text>
	</button>

	<hr dashboard-show="%MENU_SHOW_CONTEXT%">
	
	<button class="contextMenuButton" title="%TEXT_copyCommentID%" type="button" onclick="copyElementContent('%MENU_ID%')">
		<i class="fa-solid fa-comment"></i>
		<text>%TEXT_copyCommentID%</text>
	</button>
</div>