<div class="contextMenuDiv" dashboard-context-menu>
	<button class="contextMenuButton contextMenuTitle" %MENU_NAME_ATTRIBUTES% type="button"href="browse/levels/%MENU_ID%" dashboard-loader-type="settings" dashboard-show="%MENU_SHOW_NAME%">
		<i class="fa-solid fa-gamepad"></i>
		<text>%MENU_NAME%</text>
	</button>
	
	<hr dashboard-show="%MENU_SHOW_NAME%">
	
	<button class="contextMenuButton" title="%TEXT_viewLevel%" type="button" href="browse/levels/%MENU_ID%" dashboard-loader-type="settings">
		<i class="fa-solid fa-eye"></i>
		<text>%TEXT_viewLevel%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_viewComments%" type="button" href="browse/levels/%MENU_ID%/comments" dashboard-loader-type="settings">
		<i class="fa-solid fa-comment"></i>
		<text>%TEXT_viewComments%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_viewLeaderboards%" type="button" href="browse/levels/%MENU_ID%/scores" dashboard-loader-type="settings">
		<i class="fa-solid fa-chart-simple"></i>
		<text>%TEXT_viewLeaderboards%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_viewSongs%" type="button" href="browse/levels/%MENU_ID%/songs" dashboard-loader-type="settings">
		<i class="fa-solid fa-music"></i>
		<text>%TEXT_viewSongs%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_viewSFXs%" type="button" href="browse/levels/%MENU_ID%/sfxs" dashboard-loader-type="settings">
		<i class="fa-solid fa-drum"></i>
		<text>%TEXT_viewSFXs%</text>
	</button>
	
	<hr dashboard-show="%MENU_SHOW_MANAGE_HR%">
	
	<button class="contextMenuButton" title="%TEXT_manageLevel%" type="button" href="browse/levels/%MENU_ID%/manage" dashboard-loader-type="settings" dashboard-show="%MENU_CAN_MANAGE%">
		<i class="fa-solid fa-pencil"></i>
		<text>%TEXT_manageLevel%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_reportLevel%" type="button" dashboard-modal-button="reportModal" dashboard-modal-name="levelID" dashboard-modal-value="%MENU_ID%" dashboard-show="%IS_LOGGED_IN%">
		<i class="fa-solid fa-flag"></i>
		<text>%TEXT_reportLevel%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_deleteLevel%" type="button" href="browse/levels/%MENU_ID%/delete" dashboard-loader-type="box" dashboard-show="%MENU_CAN_DELETE%">
		<i class="fa-solid fa-trash"></i>
		<text>%TEXT_deleteLevel%</text>
	</button>
	
	<hr>
	
	<button class="contextMenuButton" title="%TEXT_downloadLevel%" type="button" onclick="downloadLevel('%MENU_ID%')">
		<i class="fa-solid fa-arrow-down"></i>
		<text>%TEXT_downloadLevel%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_copyLink%" type="button" onclick="copyElementContent('browse/levels/%MENU_ID%', true)">
		<i class="fa-solid fa-chain"></i>
		<text>%TEXT_copyLink%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_copyLevelID%" type="button" onclick="copyElementContent('%MENU_ID%')">
		<i class="fa-solid fa-gamepad"></i>
		<text>%TEXT_copyLevelID%</text>
	</button>
</div>