<div class="contextMenuDiv" dashboard-context-menu>
	<button class="contextMenuButton contextMenuTitle" %MENU_NAME_ATTRIBUTES% type="button" href="browse/lists/%MENU_ID%/comments" dashboard-loader-type="settings" dashboard-show="%MENU_SHOW_NAME%">
		<i class="fa-solid fa-list"></i>
		<text>%MENU_NAME%</text>
	</button>
	
	<hr dashboard-show="%MENU_SHOW_NAME%">
	
	<button class="contextMenuButton" title="%TEXT_viewList%" type="button" href="browse/lists/%MENU_ID%" dashboard-loader-type="settings">
		<i class="fa-solid fa-eye"></i>
		<text>%TEXT_viewList%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_viewComments%" type="button" href="browse/lists/%MENU_ID%/comments" dashboard-loader-type="settings">
		<i class="fa-solid fa-comment"></i>
		<text>%TEXT_viewComments%</text>
	</button>
	
	<hr dashboard-show="%MENU_SHOW_MANAGE_HR%">
	
	<button class="contextMenuButton" title="%TEXT_manageList%" type="button" href="browse/lists/%MENU_ID%/manage" dashboard-loader-type="settings" dashboard-show="%MENU_CAN_MANAGE%">
		<i class="fa-solid fa-pencil"></i>
		<text>%TEXT_manageList%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_reportList%" type="button" dashboard-modal-button="reportModal" dashboard-modal-name="listID" dashboard-modal-value="%MENU_ID%" dashboard-show="%IS_LOGGED_IN%">
		<i class="fa-solid fa-flag"></i>
		<text>%TEXT_reportList%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_deleteList%" type="button" href="browse/lists/%MENU_ID%/delete" dashboard-loader-type="box" dashboard-show="%MENU_CAN_DELETE%">
		<i class="fa-solid fa-trash"></i>
		<text>%TEXT_deleteList%</text>
	</button>
	
	<hr>
	
	<button class="contextMenuButton" title="%TEXT_copyLink%" type="button" onclick="copyElementContent('browse/lists/%MENU_ID%', true)">
		<i class="fa-solid fa-chain"></i>
		<text>%TEXT_copyLink%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_copyListID%" type="button" onclick="copyElementContent('%MENU_ID%')">
		<i class="fa-solid fa-list"></i>
		<text>%TEXT_copyListID%</text>
	</button>
</div>