<div class="contextMenuDiv" dashboard-context-menu>
	<button class="contextMenuButton" title="%TEXT_viewMapPack%" type="button" href="browse/mappacks/%MENU_ID%" dashboard-loader-type="settings">
		<i class="fa-solid fa-eye"></i>
		<text>%TEXT_viewMapPack%</text>
	</button>
	
	<hr dashboard-show="%MENU_CAN_MANAGE%">
	
	<button class="contextMenuButton" title="%TEXT_manageMapPack%" type="button" href="browse/mappacks/%MENU_ID%/manage" dashboard-loader-type="settings" dashboard-show="%MENU_CAN_MANAGE%">
		<i class="fa-solid fa-pencil"></i>
		<text>%TEXT_manageMapPack%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_deleteMapPack%" type="button" href="browse/mappacks/%MENU_ID%/delete" dashboard-loader-type="box" dashboard-show="%MENU_CAN_MANAGE%" style="--button-color: #ff9999;">
		<i class="fa-solid fa-trash"></i>
		<text>%TEXT_deleteMapPack%</text>
	</button>
	
	<hr>
	
	<button class="contextMenuButton" title="%TEXT_copyLink%" type="button" onclick="copyElementContent('browse/mappacks/%MENU_ID%', true)">
		<i class="fa-solid fa-chain"></i>
		<text>%TEXT_copyLink%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_copyMapPackID%" type="button" onclick="copyElementContent('%MENU_ID%')">
		<i class="fa-solid fa-folder-open"></i>
		<text>%TEXT_copyMapPackID%</text>
	</button>
</div>