<div class="contextMenuDiv" dashboard-context-menu>
	<button class="contextMenuButton" title="%TEXT_deleteScore%" type="button" onclick="postPage('manage/deleteScore', 'score%MENU_ID%', 'settings')" dashboard-show="%MENU_CAN_DELETE%">
		<i class="fa-solid fa-trash"></i>
		<text>%TEXT_deleteScore%</text>
	</button>

	<hr dashboard-show="%MENU_CAN_BAN%">
	
	<button class="contextMenuButton" title="%TEXT_banPerson%" type="button" href="profile/%MENU_NAME%/ban" dashboard-loader-type="settings" dashboard-show="%MENU_CAN_BAN%" style="--button-color: #ff9999;">
		<i class="fa-solid fa-gavel"></i>
		<text>%TEXT_banPerson%</text>
	</button>

	<hr dashboard-show="%MENU_SHOW_CONTEXT%">
	
	<button class="contextMenuButton" title="%TEXT_copyScoreID%" type="button" onclick="copyElementContent('%MENU_ID%')">
		<i class="fa-solid fa-chart-simple"></i>
		<text>%TEXT_copyScoreID%</text>
	</button>
</div>