<div class="contextMenuDiv" dashboard-context-menu>
	<button class="contextMenuButton contextMenuTitle" %MENU_NAME_ATTRIBUTES% type="button" href="profile/%MENU_NAME%" dashboard-loader-type="settings" dashboard-show="%MENU_SHOW_NAME%">
		<span>
			<img loading="lazy" src="%MENU_PFP%"></img>
			%MENU_NAME%
		</span>
		
		<span title="%MENU_ROLE%" dashboard-show="%MENU_HAS_BADGE%">
			<img src="incl/icons/badge_%MENU_BADGE_NUMBER%.png"></img>
		</span>
	</button>
	
	<hr dashboard-show="%MENU_SHOW_NAME%">
	
	<button class="contextMenuButton" title="%TEXT_viewAccount%" type="button" href="profile/%MENU_NAME%" dashboard-loader-type="settings">
		<i class="fa-solid fa-eye"></i>
		<text>%TEXT_viewAccount%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_personComments%" type="button" href="profile/%MENU_NAME%/comments" dashboard-loader-type="settings" dashboard-show="%MENU_CAN_SEE_COMMENT_HISTORY%">
		<i class="fa-solid fa-comment"></i>
		<text>%TEXT_personComments%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_personScores%" type="button" href="profile/%MENU_NAME%/scores" dashboard-loader-type="settings">
		<i class="fa-solid fa-chart-simple"></i>
		<text>%TEXT_personScores%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_personSongs%" type="button" href="profile/%MENU_NAME%/songs" dashboard-loader-type="settings">
		<i class="fa-solid fa-music"></i>
		<text>%TEXT_personSongs%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_personSFXs%" type="button" href="profile/%MENU_NAME%/sfxs" dashboard-loader-type="settings">
		<i class="fa-solid fa-drum"></i>
		<text>%TEXT_personSFXs%</text>
	</button>
	
	<hr dashboard-show="%MENU_SHOW_MANAGE_HR%">
	
	<button class="contextMenuButton" title="%TEXT_personBans%" type="button" href="profile/%MENU_NAME%/bans" dashboard-loader-type="settings" dashboard-show="%MENU_CAN_SEE_BANS%">
		<i class="fa-solid fa-gavel"></i>
		<text>%TEXT_personBans%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_accountSettings%" type="button" href="profile/%MENU_NAME%/settings" dashboard-loader-type="settings" dashboard-show="%MENU_CAN_OPEN_SETTINGS%">
		<i class="fa-solid fa-gear"></i>
		<text>%TEXT_accountSettings%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_blockPerson%" type="button" href="profile/%MENU_NAME%/block" dashboard-loader-type="settings" dashboard-show="%MENU_CAN_BLOCK%" style="--button-color: #ff9999;">
		<i class="fa-solid fa-ban"></i>
		<text>%TEXT_blockPerson%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_reportUser%" type="button" dashboard-modal-button="reportModal" dashboard-modal-name="accountID" dashboard-modal-value="%MENU_ACCOUNT_ID%" dashboard-show="%IS_LOGGED_IN%">
		<i class="fa-solid fa-flag"></i>
		<text>%TEXT_reportUser%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_banPerson%" type="button" href="profile/%MENU_NAME%/ban" dashboard-loader-type="settings" dashboard-show="%MENU_CAN_BAN%" style="--button-color: #ff9999;">
		<i class="fa-solid fa-gavel"></i>
		<text>%TEXT_banPerson%</text>
	</button>
	
	<hr>
	
	<button class="contextMenuButton" title="%TEXT_copyLink%" type="button" onclick="copyElementContent('profile/%MENU_NAME%', true)">
		<i class="fa-solid fa-chain"></i>
		<text>%TEXT_copyLink%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_copyAccountID%" type="button" onclick="copyElementContent('%MENU_ACCOUNT_ID%')">
		<i class="fa-solid fa-user"></i>
		<text>%TEXT_copyAccountID%</text>
	</button>
	
	<button class="contextMenuButton" title="%TEXT_copyUserID%" type="button" onclick="copyElementContent('%MENU_USER_ID%')">
		<i class="fa-regular fa-user"></i>
		<text>%TEXT_copyUserID%</text>
	</button>
</div>