<form class="wideBox" name="settingsForm" dashboard-change-form>
	<div class="contentDiv vertical">
		<div class="settingDescription">
			<h2>%TEXT_languageTitle%</h2>
			<h3>%TEXT_languageDesc%</h3>
		</div>
		
		<div class="languagesDiv">
			<div class="languageDiv">
				<div class="settingDescription">
					<h2>
						<img src="incl/icons/flag_EN.svg"></img> English
					</h2>
					<h3>%LANGUAGE_EN%</h3>
				</div>
				
				<input dashboard-show="%SETTING_LANGUAGE_EN_DEFAULT%" dashboard-change-default class="radio" type="radio" name="lang" value="EN"></input>
				<input dashboard-hide="%SETTING_LANGUAGE_EN_DEFAULT%" class="radio" type="radio" name="lang" value="EN"></input>
			</div>
			
			<div class="languageDiv">
				<div class="settingDescription">
					<h2>
						<img src="incl/icons/flag_RU.svg"></img> Русский
					</h2>
					<h3>%LANGUAGE_RU%</h3>
				</div>
				
				<input dashboard-show="%SETTING_LANGUAGE_RU_DEFAULT%" dashboard-change-default class="radio" type="radio" name="lang" value="RU"></input>
				<input dashboard-hide="%SETTING_LANGUAGE_RU_DEFAULT%" class="radio" type="radio" name="lang" value="RU"></input>
			</div>
		</div>
	</div>
	
	<div class="contentDiv vertical">
		<div class="settingDiv horisontal">
			<div class="usernameDiv">
				<div class="mainIcon">
					<img dashboard-show="%IS_LOGGED_IN%" src="%PROFILE_ICON%"></img>
					<i dashboard-hide="%IS_LOGGED_IN%" class='fa-solid fa-sign-in'></i>
				</div>
				
				<div class="mainUsername">
					<h1 class="username" style="%ACCOUNT_COLOR%" dashboard-show="%IS_LOGGED_IN%" href="profile/%USERNAME%" dashboard-loader-type="settings" title="%PROFILE_TITLE%">%USERNAME%</h1>
					<h1 dashboard-hide="%IS_LOGGED_IN%">%TEXT_loginToAccountTitle%</h1>
					
					<h2 style="%CLAN_COLOR%" dashboard-show="%SHOW_CLAN%" href="clan/%CLAN_NAME%" dashboard-loader-type="settings" title="%CLAN_TITLE%">%CLAN_NAME%</h2>
				</div>
			</div>
			
			<button dashboard-show="%IS_LOGGED_IN%" class="button settingsButton" type="button" href="profile/%USERNAME%/settings" dashboard-loader-type="settings">
				<i class='fa-solid fa-gear'></i>
			</button>
			<button dashboard-hide="%IS_LOGGED_IN%" class="button settingsButton" type="button" href="account/login" dashboard-loader-type="box">
				<i class='fa-solid fa-sign-in'></i>
			</button>
		</div>
	</div>
</form>

<div class="saveSettingsButtons" dashboard-change-buttons>
	<button type="button" class="button" onclick="resetSettings()">%TEXT_reset%</button>
	<button type="button" class="button" onclick="postPage('manage/applySettings', 'settingsForm', 'list')">%TEXT_applySettings%</button>
</div>

<script id="pageScript">
	document.querySelector(`input[type=radio][value="%LANGUAGE%"]`).checked = true;
</script>