<form class="wideBox" name="mapPackSettingsForm" dashboard-change-form>
	<input type="hidden" name="mapPackID" value="%MAPPACK_ID%" />
	
	<div class="contentDiv vertical">
		<div class="settingDescription">
			<h2>
				<i class="fa-solid fa-pen-to-square"></i>
				%TEXT_mapPackName%
			</h2>
			
			<input class="inputStyle" type="text" name="mapPackName" value="%MAPPACK_NAME%" autocomplete="gdps-dashboard-mapPackName" dashboard-change-default placeholder="The Map Pack Name" maxlength="25" />
		</div>
		
		<div class="horisontal">
			<div class="settingDescription">
				<h2>
					<i class="fa-solid fa-star"></i>
					%TEXT_stars%
				</h2>
				
				<input class="inputStyle" type="number" min="0" max="10" name="stars" value="%MAPPACK_STARS%" autocomplete="gdps-dashboard-mapPackStars" dashboard-change-default placeholder="10" />
			</div>
			
			<div class="settingDescription">
				<h2>
					<i class="fa-solid fa-coins"></i>
					%TEXT_coins%
				</h2>
				
				<input class="inputStyle" type="number" min="0" max="2" name="coins" value="%MAPPACK_COINS%" autocomplete="gdps-dashboard-mapPackCoins" dashboard-change-default placeholder="2" />
			</div>
			
			<div class="settingDescription">
				<h2>
					<i class="fa-solid fa-face-smile"></i>
					%TEXT_difficulty%
				</h2>
				
				<div class="select" dashboard-select="difficulty">
					<input type="hidden" name="difficulty" value="%MAPPACK_DIFFICULTY%" dashboard-change-default="%MAPPACK_DIFFICULTY%" dashboard-select-value required>
					<input type="text" placeholder="%TEXT_chooseDifficulty%" value="%MAPPACK_DIFFICULTY_NAME%" dashboard-change-default="%MAPPACK_DIFFICULTY_NAME%" dashboard-select-input>
						
					<i class="fa-solid fa-caret-right" dashboard-caret></i>
						
					<div class="options" dashboard-select-options>
						<div class="option" value="0" dashboard-select-option="Auto">
							<text>Auto</text>
						</div>
						
						<div class="option" value="1" dashboard-select-option="Easy">
							<text>Easy</text>
						</div>
						
						<div class="option" value="2" dashboard-select-option="Normal">
							<text>Normal</text>
						</div>
						
						<div class="option" value="3" dashboard-select-option="Hard">
							<text>Hard</text>
						</div>
						
						<div class="option" value="4" dashboard-select-option="Harder">
							<text>Harder</text>
						</div>
						
						<div class="option" value="5" dashboard-select-option="Insane">
							<text>Insane</text>
						</div>
						
						<div class="option" value="7" dashboard-select-option="Easy Demon">
							<text>Easy Demon</text>
						</div>
						
						<div class="option" value="8" dashboard-select-option="Medium Demon">
							<text>Medium Demon</text>
						</div>
						
						<div class="option" value="6" dashboard-select-option="Hard Demon">
							<text>Hard Demon</text>
						</div>
						
						<div class="option" value="9" dashboard-select-option="Insane Demon">
							<text>Insane Demon</text>
						</div>
						
						<div class="option" value="10" dashboard-select-option="Extreme Demon">
							<text>Extreme Demon</text>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="horisontal">
			<div class="settingDescription">
				<h2>
					<i class="fa-solid fa-font"></i>
					%TEXT_textColor%
				</h2>
				
				<input class="inputColor" type="color" name="mapPackTextColor" value="%MAPPACK_TEXT_COLOR%" autocomplete="gdps-dashboard-mapPackTextColor" dashboard-change-default />
			</div>
			
			<div class="settingDescription">
				<h2>
					<i class="fa-solid fa-bars-progress"></i>
					%TEXT_barColor%
				</h2>
				
				<input class="inputColor" type="color" name="mapPackBarColor" value="%MAPPACK_BAR_COLOR%" autocomplete="gdps-dashboard-mapPackBarColor" dashboard-change-default />
			</div>
		</div>
			
		<div class="settingDescription">
			<h2>
				<i class="fa-solid fa-gamepad"></i>
				%TEXT_levels%
			</h2>
				
			<div class="select" dashboard-select-search-multiple="levelSearch">
				<input type="hidden" name="levels" dashboard-select-value value="%MAPPACK_LEVELS%" dashboard-change-default="%MAPPACK_LEVELS%" />
				<input type="text" placeholder="%TEXT_searchText%" dashboard-select-input="manage/getLevels" dashboard-not-required />
				
				<i class="fa-solid fa-caret-right" dashboard-caret></i>
				
				<div class="options" dashboard-select-options></div>
			</div>
			
			<div class="select multiple" dashboard-select-multiple-list="levelSearch">%MAPPACK_LEVELS_OPTIONS%</div>
		</div>
	</div>
	
	<div class="contentDiv vertical">
		<div class="languageDiv">
			<div class="settingDescription">
				<h2>
					<i class="fa-solid fa-trash"></i>
					%TEXT_deleteMapPack%
				</h2>
				<h3>%TEXT_deleteMapPackDesc%</h3>
			</div>
			
			<button class="button toggleButton titleToRight" type="button" title="%TEXT_deleteMapPack%" href="browse/mappacks/%MAPPACK_ID%/delete" dashboard-loader-type="box">
				<i class="fa-solid fa-up-right-from-square"></i>
			</button>
		</div>
	</div>

	<div class="saveSettingsButtons" dashboard-change-buttons>
		<button type="button" class="button" onclick="resetSettings()">%TEXT_reset%</button>
		<button type="button" class="button" onclick="postPage('manage/manageMapPack', 'mapPackSettingsForm', 'settings')">%TEXT_applySettings%</button>
	</div>
</form>
